<div class="user-details" style="color:#000000">
  <h1 style="color:#000000"> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<!-- <svg xmlns="http://www.w3.org/2000/svg" style="width: 205.3px; height: 184.28px">
  <path fill= "#68bd45" d="M202.66,81.08l-40.43-70C158.72,5,150.1,0,143.08,0H62.22c-7,0-15.64,5-19.15,11.06l-40.43,70c-3.52,6.08-3.52,16,0,22.12l40.43,70c3.51,6.08,12.13,11.06,19.15,11.06h80.86c7,0,15.63-5,19.15-11.06l40.43-70C206.18,97.11,206.18,87.17,202.66,81.08ZM93.91,38.72a8.34,8.34,0,1,1,16.67,0V88.53a8.34,8.34,0,1,1-16.67,0ZM102.25,145A56.51,56.51,0,0,1,68.54,43.17a7.41,7.41,0,1,1,8.85,11.89,41.69,41.69,0,1,0,66.54,33.47A41.89,41.89,0,0,0,127,55,7.41,7.41,0,0,1,135.76,43a56.52,56.52,0,0,1-33.51,102Z"> </path>
</svg> -->
<div class="user" style="color:#000000">
    <div class="tech">
      <h2 style="color:#000000">Work Experience</h2>
      <p><u>I have been a part of: </u><br>
          <br><strong>Reflexis Systems Inc</strong><br><i>Data Science Intern</i>
          <br><br><strong>Tamil Nadu Science and Technology Centre</strong><br><i>Summer Intern</i>
          <br><br><strong>Crux Programming and Computing Club</strong><br><i>Software Developer</i>
          <br><br><strong>FOSS@BPHC</strong><br><i>Open Source Developer</i>
          <br><br><strong>OpenGenus</strong><br><i>Open Source Contributor</i>
      </p>
    </div>
    <div class="tech">
      <h2 style="color:#000000">Skills</h2>
      <p><u>I have experience in: </u><br>
          <br>Data Science
          <br>Data Analytics
          <br>Machine Learning and Deep Learning
          <br>Time Series Forecasting
          <br>Open Source Contributions
          <br>Software Development (mostly Python and Java)
          <br>Technical Report Writing
          <br>Public Speaking and Article Writing (English)
      </p>
    </div>
</div>
<br>
<br>
<div class="user" style="color:#000000">
    <div class="tech">
      <h2 style="color:#000000">Publications</h2>
      <p><u>A list of my publications so far: </u><br>
          <br><strong>Enhanced Feature Extraction Approaches for Detection of Sound Events</strong>
          <br><i>IEEE 9th Conference IACC 2019</i>
      </p>
    </div>
    <div class="tech">
      <h2 style="color:#000000">Languages</h2>
      <p><u>I have used:</u><br>
          <br>Python
          <br>Java
          <br>Matlab/Octave
          <br>R
        </p>
    </div>
    <div class="tech">
      <h2 style="color:#000000">Courses</h2>
      <p><u>I have pursued:</u><br>
          <br>Artificial Intelligence
          <br>Computer Programming
          <br>Information Retrieval
          <br>Neural Networks and Fuzzy Logic
          <br>Digital Signal Processing
          <br>Data Mining
          <br>Network Programming
          <br>Communication Networks
          <br>Operating Systems
          <br>Object Oriented Programming
          <br>Cryptography
          <br>Information Theory & Coding
          <br>Human Resource Development
          <br>Principles of Management
      </p>
    </div>
    <div class="tech">
      <h2 style="color:#000000">Tools</h2>
      <p><u>I have experience with: </u><br>
          <br>Numpy
          <br>Pandas
          <br>Scipy
          <br>Scikit-learn
          <br>Keras
          <br>Matplotlib + Seaborn
          <br>Jupyter
          <br>Git, Github
          <br>MongoDB
          <br>SQL
      </p>
    </div>
</div>

<div class="user-projects" style="color:#000000">
    <br><a class="allprojects-link" href="/resume.html"><strong>More About<br>Me & My Projects</strong></a>
</div>
