<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title" style="color:#ffffff">{{site.username}}</span>
        <span class="site-description" style="color:#ffffff">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:nsurampu@gmail.com"><i class="icon fa fa-envelope" style="color:#ffffff"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/nsurampu"><i class="icon fa fa-github-alt" aria-hidden="true" style="color:#ffffff"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://in.linkedin.com/in/naren-surampudi"><i class="icon fa fa-linkedin" aria-hidden="true" style="color:#ffffff"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll style="color:#ffffff">About Me</a>
        <a class="link" href="#projects" data-scroll style="color:#ffffff">Projects</a>
        <a class="link" href="https://nsurampu.github.io/resume.html" style="color:#ffffff">My Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true" style="color:#ffffff"></i></a>
</div>
