<div class="user-details">
  <h1 style="color:#000000"> Featured Projects </h1>
</div>
<div class="user-projects" style="color:#000000">
  <div class="images-right">
    <!---<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />--->
  </div>
  <div class="tech">
    <h3 style="color:#000000"> Translation Systems </h3>
    <ul>
      <li style="color:#000000"> Python3 </li>
      <li style="color:#000000"> NLTK </li>
      <li style="color:#000000"> Collections </li>
      <li style="color:#000000"> OS </li>
      <li style="color:#000000"> JSON </li>
      <li style="color:#000000"> Pprint </li>
    </ul>
    <p>An implementation of IBM Models 1 & 2, EM algorithm and phrase-based translation.</p>
    <a class="project-link" href="https://github.com/nsurampu/Translation-Systems">Check it out</a>
  </div>
  <div class="tech">
    <h3 style="color:#000000"> Recommender Systems </h3>
    <ul>
      <li style="color:#000000"> Python3 </li>
      <li style="color:#000000"> Numpy </li>
      <li style="color:#000000"> Scipy </li>
      <li style="color:#000000"> OS </li>
      <li style="color:#000000"> Pickle </li>
      <li style="color:#000000"> Math </li>
    </ul>
    <p>A set of various recommender system implementations. Currently holds collaborative filtering, SVD and CUR.</p>
    <a class="project-link" href="https://github.com/nsurampu/Recommender-Systems">Check it out</a>
  </div>
  <div class="tech">
    <h3 style="color:#000000"> Plagiarism Checker </h3>
    <ul>
      <li style="color:#000000"> Python3 </li>
      <li style="color:#000000"> NLTK </li>
      <li style="color:#000000"> OS </li>
      <li style="color:#000000"> Pickle </li>
      <li style="color:#000000"> Math </li>
    </ul>
    <p>An implementation of a plagiarsim checker using tf-idf score and vector space model.</p>
    <a class="project-link" href="https://github.com/nsurampu/Plagiarism-Checker">Check it out</a>
  </div>
  <div class="tech">
    <h3 style="color:#000000"> Subway AI </h3>
    <ul>
      <li style="color:#000000"> Python3 </li>
      <li style="color:#000000"> Android </li>
      <li style="color:#000000"> Numpy </li>
      <li style="color:#000000"> Pprint </li>
      <li style="color:#000000"> JSON </li>
      <li style="color:#000000"> OS </li>
      <li style="color:#000000"> Pickle </li>
      <li style="color:#000000"> Math </li>
    </ul>
    <p>An AI that automaticaly reroutes and reschedules trains according to any changes in the schedule.</p>
    <a class="project-link" href="https://github.com/nsurampu/MRTS-AI">Check it out</a>
  </div>
</div>

<div class="user-projects" style="color:#000000">
    <br><a class="allprojects-link" href="/resume.html"><strong>More About<br>Me & My Projects</strong></a>
</div>
