<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <!---<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />--->
  </div>
  <div class="tech">
    <h3> Translation Systems </h3>
    <ul>
      <li> Python3 </li>
      <li> NLTK </li>
      <li> Collections </li>
      <li> OS </li>
      <li> JSON </li>
      <li> Pprint </li>
    </ul>
    <p>An implementation of IBM Models 1 & 2, EM algorithm and phrase-based translation.</p>
    <a class="project-link" href="https://github.com/nsurampu/Translation-Systems">Check it out</a>
  </div>
  <div class="tech">
    <h3> Recommender Systems </h3>
    <ul>
      <li> Python3 </li>
      <li> Numpy </li>
      <li> Scipy </li>
      <li> OS </li>
      <li> Pickle </li>
      <li> Math </li>
    </ul>
    <p>A set of various recommender system implementations. Currently holds collaborative filtering, SVD and CUR.</p>
    <a class="project-link" href="https://github.com/nsurampu/Recommender-Systems">Check it out</a>
  </div>
  <div class="tech">
    <h3> Plagiarism Checker </h3>
    <ul>
      <li> Python3 </li>
      <li> NLTK </li>
      <li> OS </li>
      <li> Pickle </li>
      <li> Math </li>
    </ul>
    <p>An implementation of a plagiarsim checker using tf-idf score and vector space model.</p>
    <a class="project-link" href="https://github.com/nsurampu/Plagiarism-Checker">Check it out</a>
  </div>
  <div class="tech">
    <h3> Subway AI </h3>
    <ul>
      <li> Python3 </li>
      <li> Android </li>
      <li> Numpy </li>
      <li> Pprint </li>
      <li> JSON </li>
      <li> OS </li>
      <li> Pickle </li>
      <li> Math </li>
    </ul>
    <p>An AI that automaticaly reroutes and reschedules trains according to any changes in the schedule.</p>
    <a class="project-link" href="https://github.com/nsurampu/MRTS-AI">Check it out</a>
  </div>
</div>
