<div class="user-details">
  <h1 style="color:#000000"> Featured Projects </h1>
</div>
<div class="user-projects" style="color:#000000">
    <div class="images-right">
        <img alt="clustering-algorithms-screenshot" src="{{ "/assets/img/clustering-systems.JPG" | prepend: site.baseurl }}" />
    </div>
    <div class="tech">
        <h3 style="color:#000000"> Clustering Algorithms </h3>
        <ul>
            <li style="color:#000000"> Python3 </li>
            <li style="color:#000000"> Numpy </li>
            <li style="color:#000000"> Scipy </li>
            <li style="color:#000000"> Matplotlib </li>
        </ul>
        <p>An implementation of K-Means and Hierarchical clustering algorithms.</p>
        <a class="project-link" href="https://github.com/aditya-srikanth/Clustering-Systems">Check it out</a>
    </div>
  <div class="images-right">
    <img alt="translation-systems-screenshot" src="{{ "/assets/img/translation-systems.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="tech">
    <h3 style="color:#000000"> Translation Systems </h3>
    <ul>
      <li style="color:#000000"> Python3 </li>
      <li style="color:#000000"> NLTK </li>
    </ul>
    <p>An implementation of IBM Models 1 & 2, EM algorithm and phrase-based translation.</p>
    <a class="project-link" href="https://github.com/nsurampu/Translation-Systems">Check it out</a>
  </div>
  <div class="images-right">
    <img alt="recommender-systems-screenshot" src="{{ "/assets/img/recommender-systems.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="tech">
    <h3 style="color:#000000"> Recommender Systems </h3>
    <ul>
      <li style="color:#000000"> Python3 </li>
      <li style="color:#000000"> Numpy </li>
      <li style="color:#000000"> Scipy </li>
    </ul>
    <p>A set of various recommender system implementations. Currently holds collaborative filtering, SVD and CUR.</p>
    <a class="project-link" href="https://github.com/nsurampu/Recommender-Systems">Check it out</a>
  </div>
  <div class="images-right">
    <img alt="subway-ai-screenshot" src="{{ "/assets/img/subway-ai.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="tech">
    <h3 style="color:#000000"> Subway AI </h3>
    <ul>
      <li style="color:#000000"> Python3 </li>
      <li style="color:#000000"> Android </li>
      <li style="color:#000000"> Numpy </li>
    </ul>
    <p>An AI that automaticaly reroutes and reschedules trains according to any changes in the schedule.</p>
    <a class="project-link" href="https://github.com/nsurampu/MRTS-AI">Check it out</a>
  </div>
</div>

<div class="user-projects" style="color:#000000">
    <br><a class="allprojects-link" href="/resume.html"><strong>More About<br>Me & My Projects</strong></a>
</div>
